.container {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;

  .label {
    display: block;
    font-size: 1.5rem;
  }

  .search_title {
    height: 3rem;
    width: 100%;
    padding: 0 10px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .tag_list {
    display: flex;
    gap: 20px;

    .tag_item {
      padding: 5px 10px;
      font-size: 1.3rem;
      border-radius: 5px;
      background-color: var(--background);
      display: inline-block;
      cursor: pointer;
    }
  }

  .search_tag {
    margin-top: 10px;
    height: 3rem;
    padding: 0 10px;
    font-size: 1.5rem;
  }
}

.search_container {
  text-align: end;

  .search {
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;

    transition: all 0.3s;
    color: var(--primary);
    border: 1px solid var(--primary);
    background-color: var(--on-primary);
    cursor: pointer;
  }

  .search:hover {
    color: var(--on-primary);
    background-color: var(--primary);
    border: 1px solid var(--primary);
  }
}
