.right {
  .date_container {
    margin-left: auto;
    width: 60px;
    padding-bottom: 10px;
    text-align: center;

    .year,
    .date {
      color: var(--on-primary);
    }

    .year {
      font-size: 1.5rem;
    }

    .date {
      font-size: 2rem;
      line-height: 2rem;
    }
  }

  .reaction {
    margin-left: auto;
    height: fit-content;
    width: 60px;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--on-primary);
    border-radius: 15px;
    gap: 10px;

    .icon {
      width: 30px;
      cursor: pointer;

      path {
        fill: var(--primary);
      }
    }

    .count {
      color: var(--primary);
      text-align: center;
      font-size: 1.5rem;
    }
  }

  @media (max-height: 400px) {
    margin-top: -30px;
  }

  @media (max-width: 850px) {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .date_container {
      margin: 0;
      padding: 0;
      height: fit-content;

      .date {
        line-height: 2.5rem;
      }
    }

    .reaction {
      margin: 0;
      width: fit-content;
      padding: 10px;
      flex-direction: row;

      .count {
        color: var(--primary);
        font-size: 1.5rem;
        line-height: 1.5rem;
      }
    }
  }
}
