.appbar {
  height: fit-content;
  width: 80px;
  background-color: var(--on-primary);
  border-radius: 0 0 20px 0;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  .stack {
    padding: 40px 0 30px;
    width: fit-content;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .icon_player,
    .icon_postadd,
    .icon_account,
    .icon_search {
      padding: 10px 15px 10px 15px;
      width: 70px;
      transition: all 0.3s;
      border-radius: 0 20px 20px 0;
    }

    .icon_player {
      fill: var(--primary);

      &.selected {
        background-color: var(--primary);
      }
    }

    .icon_postadd {
      fill: var(--secoundary);

      &.selected {
        background-color: var(--secoundary);
      }
    }

    .icon_account {
      fill: var(--tertiary);

      &.selected {
        background-color: var(--tertiary);
      }
    }

    .icon_search {
      fill: var(--quaternary);

      &.selected {
        background-color: var(--quaternary);
      }
    }

    .selected {
      fill: var(--on-primary);
    }
  }

  @media (max-height: 450px) {
    height: auto;
    bottom: 0;
    border-radius: 0;

    .stack {
      height: 100%;
      padding: 0;
      justify-content: space-evenly;
      gap: 0;
    }
  }

  @media (orientation: portrait) {
    @media (max-width: 850px) {
      width: fit-content;
      height: 65px;
      background-color: var(--on-primary);
      border-radius: 0 20px 0 0;

      position: fixed;
      bottom: 0;
      top: auto;
      left: 0;
      right: auto;
      z-index: 10;

      .stack {
        padding: 5px 10px 0 20px;
        width: fit-content;
        text-align: start;
        display: flex;
        flex-direction: row;
        gap: 30px;

        @media (max-width: 450px) {
          gap: 15px;
        }

        .icon_player,
        .icon_postadd,
        .icon_account,
        .icon_search {
          margin: 5px;
          padding: 5px;
          width: 50px;
          transition: all 0.3s;
          border-radius: 10px;
        }

        .selected {
          fill: var(--on-primary);
        }
      }
    }
  }
}
