.title_in_card {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;

  @media (min-width: 850px) {
    margin-top: 20px;
  }
  @media (max-width: 850px) {
    margin: 30px 0 10px 0;
    color: white;
  }
}

.grid {
  height: calc(100vh - 20px);
}

.carousel {
  height: calc(100vh - 100px);
  overflow-y: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
