.settings_card {
  width: 90%;
  height: fit-content;
  padding: 30px;
  background-color: var(--background-dark);
  position: relative;

  .pin_icon {
    width: 20px;
    position: absolute;
    top: -10px;
    left: 50%;
  }

  input {
    border: none;
    outline: none;
    border-radius: 10px;
  }

  .container,
  .tag_container {
    width: 100%;
    margin: 15px 0;
    text-align: center;

    .label {
      display: block;
      font-size: 1.5rem;
    }

    .settings_title {
      height: 3rem;
      width: 90%;
      padding: 0 10px;
      font-size: 1.5rem;
      font-weight: bold;
    }

    .tag_list {
      width: 460px;
      padding-bottom: 15px;
      display: flex;
      gap: 20px;
      overflow-x: scroll;

      .tag_item {
        padding: 5px 10px;
        font-size: 1.3rem;
        border-radius: 5px;
        color: var(--on-secoundary);
        background-color: var(--secoundary);
        display: inline-block;
        cursor: pointer;
      }
    }

    .settings_tag {
      margin-top: 10px;
      height: 3rem;
      padding: 0 10px;
      font-size: 1.5rem;
    }
  }

  .tag_container {
    height: 130px;
  }

  .settings_container {
    text-align: end;

    .search {
      padding: 5px 10px;
      font-weight: bold;
      border-radius: 5px;
      display: inline-block;

      transition: all 0.3s;
      color: var(--primary);
      border: 1px solid var(--primary);
      background-color: var(--on-primary);
      cursor: pointer;
    }

    .search:hover {
      color: var(--on-primary);
      background-color: var(--primary);
      border: 1px solid var(--primary);
    }
  }
}
