:root {
  --primary: #2a81a4;
  --on-primary: #f8f9f9;
  --secoundary: #ff6766;
  --on-secoundary: #f8f9f9;
  --tertiary: #ffaf5d;
  --on-tertiary: #000000;
  --quaternary: #acacad;
  --on-quaternary: #f8f9f9;

  --text: #000000;

  --background: #e2e3e3;
  --background-dark: #d8d9da;

  font-size: 12px;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
body>div {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text);
}

a {
  color: var(--primary);
}