.post {
  width: 100%;
  height: 100%;
  padding-left: 80px;
  background-color: var(--secoundary);
  overflow-y: scroll;

  scroll-snap-type: y mandatory;

  @media (max-width: 850px) {
    padding: 0;
  }
}
