.search {
  width: 100%;
  height: 100%;
  padding-left: 80px;
  padding-bottom: 40px;
  background-color: var(--quaternary);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 850px) {
    padding: 0;
  }
}
