.user {
  width: auto;
  height: 100%;
  display: flex;
  background-color: var(--tertiary);
  overflow: hidden;

  .left_container {
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
  }

  .right_container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .right_top,
  .right_bottom {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
