.short {
  height: 100vh;
  padding: 40px;
  scroll-snap-align: start;
  display: flex;
  align-items: center;

  .inner_short {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-rows: auto 1fr;

    .title {
      padding-bottom: 10px;
      color: var(--on-primary);
      text-align: center;
      font-size: 2.5rem;
    }

    .container {
      height: fit-content;
      display: grid;
      grid-template-columns: 1fr 100px;
      justify-content: center;
    }
  }
}
